apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.name }}-ingress
  namespace: {{ .Chart.Name }}
  labels:
    {{- include "busybox.labels" . | nindent 4 }}
spec:
  ingressClassName: "nginx"
  rules:
    - host: "busybox2.example.com"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.name }}
                port:
                  number: 80